.inactive .combatants {
  display: none;
}
.combatants {
  display: flex;
  text-align: center;
  justify-content: center;
}
.row {
  flex: 1;
  text-shadow: 0 0 8px #000;
  margin: 0 6px;
  max-width: 140px;
}
.row.self.job-dps .data-items:before,
.row.self.job-tank .data-items:before,
.row.self.job-healer .data-items:before {
  background: rgba(255, 255, 255, 0.8);
}
.row.job-dps .data-items:before {
  background: rgba(244, 67, 54, 0.5);
}
.row.job-dps .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(244, 67, 54, 0.5) 0%,
    rgba(244, 67, 54, 0.5) 51%,
    rgba(244, 67, 54, 0.1) 51%,
    rgba(244, 67, 54, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.job-tank .data-items:before {
  background: rgba(32, 149, 243, 0.5);
}
.row.job-tank .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(32, 149, 243, 0.5) 0%,
    rgba(32, 149, 243, 0.5) 51%,
    rgba(32, 149, 243, 0.1) 51%,
    rgba(32, 149, 243, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.job-healer .data-items:before {
  background: rgba(139, 195, 74, 0.5);
}
.row.job-healer .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(139, 195, 74, 0.5) 0%,
    rgba(139, 195, 74, 0.5) 51%,
    rgba(139, 195, 74, 0.1) 51%,
    rgba(139, 195, 74, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.job-healer .data-items.highlight.inverse:before {
  background-image: linear-gradient(
    to left,
    rgba(139, 195, 74, 0.1) 0%,
    rgba(139, 195, 74, 0.1) 51%,
    rgba(139, 195, 74, 0.5) 51%,
    rgba(139, 195, 74, 0.5) 100%
  );
  background-repeat: no-repeat;
}
.row.self .data-items:before,
.row.self .data-items.highlight:before,
.row.self .data-items.highlight.invert:before {
  background: rgba(255, 255, 255, 0.8);
}
.row.job-dps .damage-percent-bg {
  background: rgba(244, 67, 54, 0.3);
}
.row.job-tank .damage-percent-bg {
  background: rgba(33, 150, 243, 0.3);
}
.row.job-healer .damage-percent-bg {
  background: rgba(139, 195, 74, 0.3);
}
.row.self .damage-percent-bg {
  background: rgba(255, 255, 255, 0.5);
}
.row.job-dps .damage-percent-fg {
  background: rgba(244, 67, 54, 0.7);
}
.row.job-tank .damage-percent-fg {
  background: rgba(33, 150, 243, 0.7);
}
.row.job-healer .damage-percent-fg {
  background: rgba(139, 195, 74, 0.7);
}
.row.self .damage-percent-fg {
  background: rgba(255, 255, 255, 1);
}

.row.job-dps.Blu .data-items:before {
    background: rgba(36, 89, 255, 0.7);
}

.row.job-tank.Gnb .data-items:before {
    background: rgba(121, 109, 48, 0.7);
}

.row.job-dps.Dnc .data-items:before {
    background: rgba(242, 192, 191, 0.7);
}

.row.job-dps.Sam .data-items:before {
    background: rgba(228, 109, 4, 0.7);
}

.row.job-dps.Rdm .data-items:before {
    background: rgba(232, 123, 123, 0.7);
}

.row.job-healer.Ast .data-items:before {
    background: rgba(255, 231, 74, 0.7);
}

.row.job-healer.Sch .data-items:before {
    background: rgba(134, 87, 255, 0.7);
}

.row.job-dps.Mch .data-items:before {
    background: rgba(110, 225, 214, 0.7);
}

.row.job-tank.Drk .data-items:before {
    background: rgba(209, 38, 204, 0.7);
}

.row.job-tank.Gla .data-items:before,
.row.job-tank.Pld .data-items:before {
    background: rgba(168, 210, 230, 0.7);
}

.row.job-dps.Acn .data-items:before,
.row.job-dps.Smn .data-items:before {
    background: rgba(45, 155, 120, 0.7);
}

.row.job-tank.Mar .data-items:before,
.row.job-tank.War .data-items:before {
    background: rgba(207, 38, 33, 0.7);
}

.row.job-dps.Thm .data-items:before,
.row.job-dps.Blm .data-items:before {
    background: rgba(165, 121, 214, 0.7);
}

.row.job-dps.Pgl .data-items:before,
.row.job-dps.Mnk .data-items:before {
    background: rgba(214, 156, 0, 0.7);
}

.row.job-dps.Lnc .data-items:before,
.row.job-dps.Drg .data-items:before {
    background: rgba(65, 100, 205, 0.7);
}

.row.job-dps.Rog .data-items:before,
.row.job-dps.Nin .data-items:before {
    background: rgba(175, 25, 100, 0.7);
}

.row.job-dps.Arc .data-items:before,
.row.job-dps.Brd .data-items:before {
    background: rgba(145, 186, 94, 0.7);
}

.row.job-healer.Cnj .data-items:before,
.row.job-healer.Whm .data-items:before {
    background: rgba(255, 240, 220, 0.7);
}

.row .damage-percent-bg {
  height: 4px;
  background: rgba(0, 0, 0, 0.3);
  transform: skew(-30deg);
  position: relative;
  left: -8px;
  margin: 0;
}
.row .damage-percent-fg {
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  transform: skew(-30deg);
  margin: 0;
}
.row .damage-percent {
  position: relative;
  float: left;
  text-align: right;
  width: 25%;
  font-size: 10px;
  top: 0px;
  left: -17px;
  padding-left: 0px;
}

.row .dps {
  color: #fff;
  text-shadow: 0 0 5px #000;
  padding: 0 0 2px 8px;
  margin: 3px 0 0 0;
  flex-grow: 1;
  position: relative;
  text-align: left;
}
.row.self .dps {
  color: #000;
  text-shadow: none;
}

.row .data-items:before {
  background: rgba(0, 0, 0, 0.3);
  transform: skew(-30deg);
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 96%;
}
.row > div {
  margin: 0px auto;
  padding: 0 0 1px;
}
.row div.dps > div {
  /* transform: skew(30deg); */
}

.job {
  width: 25px;
  position: absolute;
  top: -1px;
  left: 55px;
  z-index: 1; 
}
.name {
  white-space: nowrap;
}
.data-items {
  display: flex;
  width: 140px;
  position: relative;
}
.dps:last-child {
  text-align: right;
  padding-right: 8px;
  padding-left: 0;
}
.dps span.label {
  font-size: 8px;
  margin: 0 0 0 1px;
}
.row .maxhit {
  font-size: 0.85em;
  margin-top: -0.3em;
  margin-left: -0.8em;
  text-align: center;
}
/*  blur effect */
.streamer-mode {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
